<!-- Footer -->
<hr>
<div class="mine" style="background-color:#D3D3D3; margin-top:20% ; ">
<br><br><br>
    <!-- Footer Links -->
    <div class="container text-center" style="color: blue">

      <!-- Grid row -->
      <div class="row" >

        <!-- Grid column -->
        <div class="col-xs-6 col-md-4">


          <!-- Links -->

          <ul class="list-unstyled lead" >
            <li>
              <a href="#!">How it works</a>
              <p></p>
            </li>
            <li>
              <a href="#!">Contact</a>
              <p></p>
            </li>
            <li>
              <a href="#!">we're Hiring</a>
              <p></p>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-xs-6 col-md-4">

          <!-- Links -->

          <ul class="list-unstyled lead">
            <li>
              <a href="#!">About Us</a>
              <p></p>
            </li>
            <li>
              <a href="#!">Terms And Conditions</a>
              <p></p>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <!-- <hr class="clearfix w-100 d-md-none"> -->

        <!-- Grid column -->
        <div class="col-xs-6 col-md-4 ">
          <!-- Links -->

          <ul class="list-unstyled lead">
            <li>
              <a href="#!">FAQ's</a>
              <p></p>
            </li>
            <li>
              <a href="#!">Press</a>
              <p></p>
            </li>
          </ul>

        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
    <br>
    <br>
    <!-- Footer Links -->
    <div >
      <br>
    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center" >
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <i class="fa fa-facebook" style="font-size: 30px"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <i class="fa fa-twitter" style="font-size: 30px"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1">
          <i class="fa fa-google-plus" style="font-size: 30px"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <i class="fa fa-linkedin" style="font-size: 30px"> </i>
        </a>
      </li>
    </ul>
    </div>

    <!-- Social buttons -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="background-color: #A9A9A9">
      <br>
      © 2018 Copyright:
      <br>
      <br>
          <!-- <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a> -->
    </div>
    <!-- Copyright -->
  </div>
<!-- Footer -->
