{% extends 'layout.html' %}

{% block body %}

<div class=" container ">

      <ul class="nav nav-tabs">
        <li ><a  href="dashboard">Dashboard</a></li>
        <li ><a  href="rides">Rides Offered</a></li>
        <li class= "active"><a  href="bookings">Bookings</a></li>
        <li ><a  href="messages">Messages</a></li>
        <li ><a  href="#">Ride Alerts</a></li>
        <li ><a  href="#">Profile</a></li>
      </ul>
      <br>

</div>

<div class="container text-center">

            <div  class="tab-pane fade in active">
              <ul class="nav nav-pills">
                <li class="active"><a data-toggle="pill" href="#current-bookings">Current Bookings</a></li>
                <li><a data-toggle="pill" href="#bookings-history">Booking History</a></li>
              </ul>

              <div class="tab-content">
                <div id="current-bookings" class="tab-pane fade in active text-left">
                  <br>
                  <p>Here you can find your current bookings</p>
                  <br><br>
                </div>

                <div id="bookings-history" class="tab-pane fade text-left">
                  <br>
                  <p>Here you can find history of your bookings</p>
                </div>
              </div>
            </div>

</div>

{% endblock %}
