<!DOCTYPE html>
<html>
  <head>
      <title>Car Sharing</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <meta name="google-signin-client_id" content="272416681581-52u3ck9rlbt1hogin5nfjvtpbk2ku92t.apps.googleusercontent.com">
      <script src="https://apis.google.com/js/platform.js" async defer></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/design.css') }}">
      <meta charset="utf-8">

  </head>
  <body>
    {% include 'includes/_navbar.html' %}
    <div class="container">
      {% include 'includes/_messages.html' %}
      {% block body %}{% endblock %}
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdn.ckeditor.com/4.6.2/basic/ckeditor.js"></script>
    <script type="text/javascript">
      CKEDITOR.replace('editor')
    </script>
  </body>
</html>
