{% extends 'layout.html' %}

{% block body %}
<center>
  <h1>Enter Your Details</h1>
  <br>
  <form action="" method="POST">
    <div class="form-group">
      <input type="text" name="username" style="width:50%" class="form-control" placeholder="Username" >
    </div>
    <div class="form-group">
      <input type="password" name="password" style="width:50%" class="form-control" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Login Me In!</button>
    <a  href="/register" class="btn btn-primary">I'm a New User</a>
  </form>
</center>
{% endblock %}
