 <!-- <h1>Login</h1>
    <form action="" method="POST">
    <div class="form-group">
        <label>Username</label>
        <input type="text" name="username" class="form-control" value={{request.form.username}}>
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" name="password" class="form-control" value={{request.form.password}}>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form> -->

    {% extends 'layout.html' %}

    {% block body %}
    <div class="container col-lg-10" style="height: 50%;width: 50%">
            <div>
              <h3>Ride Details</h3>
                <form method="POST">

                  <div class="form-group"></div>
                  <div class="well">
                      <div class="form-group">
                          <label for="date">Pick-up</label>
                      <input id="origin-input" name="source" class="controls form-control" type="text" placeholder="Enter an origin location">
                      </div>

                      <div class="form-group">
                          <label for="date">Drop-off</label>
                      <input id="destination-input" name="destination" class="controls form-control" type="text" placeholder="Enter a destination location">
                       </div>
                  </div>

                  <div id="mode-selector" class="controls" style="display: none;">
                    <input type="radio" name="type" id="changemode-walking" >
                    <label for="changemode-walking">Walking</label>

                    <input type="radio" name="type" id="changemode-transit">
                    <label for="changemode-transit">Transit</label>

                    <input type="radio" name="type" id="changemode-driving" checked="checked">
                    <label for="changemode-driving">Driving</label>
                  </div>

                  <div class ="well" >
                      <div class="form-group">
                      <label for="date">Date</label>
                      <input type="date" name="date" class=" controls form-control">
                      </div>
                      <div class="form-group">
                      <label for="time">Time</label>
                      <input type="time" name="time" class="form-control">
                      </div>
                  </div>
                  <div class="form-group">
                  <label for="price">Price per co-traveller</label>
                  <input type="number" name="price" class="form-control">
                  </div>
                  <div class="form-group">
                  <label for="seats">Number of seats</label>
                  <input type="number" name="seats" class="form-control" min="1" max="5">
                  </div>
                  <div class="form-group">
                  <label for="rdetails">Ride Details</label>
                  <br>
                  <textarea rows="4" cols="100" name="details" class="form-control" form="usrform">Anything to add about your ride...</textarea>
                  <br>

              </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>


    </div>
    <div class=" container split right col-lg-10" >
      <h3>Ride Summary</h3>
    <div id="map" style="height: 50%; width:50%;"></div>
    </div>
    <script>
      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          mapTypeControl: false,
          center: {lat: 17.3850, lng: 78.4867},
          zoom: 13
        });

        new AutocompleteDirectionsHandler(map);
      }

       /**
        * @constructor
       */
      function AutocompleteDirectionsHandler(map) {
        this.map = map;
        this.originPlaceId = null;
        this.destinationPlaceId = null;
        this.travelMode = 'DRIVING';
        var originInput = document.getElementById('origin-input');
        var destinationInput = document.getElementById('destination-input');
        var modeSelector = document.getElementById('mode-selector');
        this.directionsService = new google.maps.DirectionsService;
        this.directionsDisplay = new google.maps.DirectionsRenderer;
        this.directionsDisplay.setMap(map);

        var originAutocomplete = new google.maps.places.Autocomplete(
            originInput, {placeIdOnly: true});
        var destinationAutocomplete = new google.maps.places.Autocomplete(
            destinationInput, {placeIdOnly: true});

        this.setupClickListener('changemode-walking', 'WALKING');
        this.setupClickListener('changemode-transit', 'TRANSIT');
        this.setupClickListener('changemode-driving', 'DRIVING');

        this.setupPlaceChangedListener(originAutocomplete, 'ORIG');
        this.setupPlaceChangedListener(destinationAutocomplete, 'DEST');

        // this.map.controls[google.maps.ControlPosition.TOP_LEFT].push(originInput);
        // this.map.controls[google.maps.ControlPosition.TOP_LEFT].push(destinationInput);
        // this.map.controls[google.maps.ControlPosition.TOP_LEFT].push(modeSelector);
      }

      // Sets a listener on a radio button to change the filter type on Places
      // Autocomplete.
      AutocompleteDirectionsHandler.prototype.setupClickListener = function(id, mode) {
        var radioButton = document.getElementById(id);
        var me = this;
        radioButton.addEventListener('click', function() {
          me.travelMode = mode;
          me.route();
        });
      };

      AutocompleteDirectionsHandler.prototype.setupPlaceChangedListener = function(autocomplete, mode) {
        var me = this;
        autocomplete.bindTo('bounds', this.map);
        autocomplete.addListener('place_changed', function() {
          var place = autocomplete.getPlace();
          if (!place.place_id) {
            window.alert("Please select an option from the dropdown list.");
            return;
          }
          if (mode === 'ORIG') {
            me.originPlaceId = place.place_id;
          } else {
            me.destinationPlaceId = place.place_id;
          }
          me.route();
        });

      };

      AutocompleteDirectionsHandler.prototype.route = function() {
        if (!this.originPlaceId || !this.destinationPlaceId) {
          return;
        }
        var me = this;

        this.directionsService.route({
          origin: {'placeId': this.originPlaceId},
          destination: {'placeId': this.destinationPlaceId},
          travelMode: this.travelMode
        }, function(response, status) {
          if (status === 'OK') {
            me.directionsDisplay.setDirections(response);
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
      };

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtw56_J9YjK6Kptzau4VLaQNSKL4hnjdw&libraries=places&callback=initMap"
        async defer></script>
    {% endblock %}
