{% extends 'layout.html' %}

{% block body %}
 
    <div class="well well-lg" style="width:50%">

        <h2>Your personal information</h2>
        <!-- <div class = "container"> -->
            <div class="form-group">
                <label>Name</label>
                <input type="text" name="name" class="form-control" style="width:50%" value={{result[2]}}></input>
            </div>
            <!-- <div class="form-group">
                <label>Gender</label>
                    <div class="radio">
                        <label><input type="radio" name="male" >Male</label>
                      </div>
                      <div class="radio">
                        <label><input type="radio" name="female">Female</label>
                      </div>
            </div> -->
            <div class="form-group">
                <label>Email</label>
                <input type="text" name="email" class="form-control" style="width:50%" value={{result[4]}}>
            </div> 
            <div class="form-group">
                <label>Mobile phone</label>
                <input type="text" name="phone" class="form-control" style="width:50%" value={{result[3]}}>
            </div>
            <div class="form-group">
                <label>Birth Year</label>
                <input type="text" name="birth_year" class="form-control" style="width:50%">
            </div>   
            <div class="form-group">
                <label>Bio</label>
                <br>
                <textarea rows="4" cols="100" name="details" class="form-control" style="width:50%" form="usrform" placeholder="Tell something about yourself..."></textarea>
                <br>
            </div>
        <!-- </div> -->

    </div>
{% endblock %}
