{% extends 'layout.html' %}

{% block body %}
  <hr>
  <div class="container ">

    <div class = "col-md-8 " >
      
      <div class=" col-md-12 well well-lg " style=" background-color:white ">
        <div >
          
          <div class="col-md-3" style="color:#708090">
            <span>Departure Point</span>
          </div>
          
          <div class="col-md-9 text-left">  
            <p><i class="fa fa-circle-o " style="font-size: 18px"></i> {{rides[2]}}</p>
          </div>
        
        </div>

        <div >
        
          <div class="col-md-3" style="color:#708090">
            <span>Drop Off Point</span>
          </div>
          
          <div class="col-md-9 text-left">  
            <p><span><i class="fa fa-circle-o " style="font-size: 18px"></i></span> {{rides[3]}}</p>
          </div>

        </div>

        <div >
        
          <div class="col-md-3" style="color:#708090">
            <span>Departure date</span>
          </div>
          
          <div class="col-md-9 text-left">  
            <p><i class="fa fa-calendar " style="font-size: 18px"></i> {{rides[8]}} - {{rides[9]}} <br><br></p>
          </div>

        </div>

        <div class="col-md-10 " style=" background-color:#F0F8FF ">
           <div class="col-md-1 " style="color: #696969"><i class="fa fa-user " style="font-size: 44px"></i>
           </div>
           
           <div class="col-md-10">
            <span class="lead" style="color: #696969">{{user[2]}}</span>
            <p  id="details" style="color:#708090">The car owner hasn't mentioned any details</p>
           </div>
   
        <div class="col-md-10 ">
          <div class="col-md-1"></div>
          <div class="col-md-8 ">
              {% if myUserName != rides[1] %}
              <button  class="btn btn-default btn-info" data-toggle="collapse" data-target="#changeDetails"><i class="fa fa-address-card" ></i> Contact Owner</button>
              <div id=changeDetails class="collapse" style="color:#708090">
                <br>
                <p>Can be contacted at {{contact[3]}}</p>
                <p>Has e-mail id {{contact[4]}}</p>
                <p>Lives in {{contact[5]}}</p>
              </div>
              {% else %}
              <a  class="btn btn-default btn-info"><i class="fa fa-align-justify" ></i>
               Add Details</a>
              {% endif %}

              <br><br>
          </div>
        </div>

        </div>
      </div>

          <table class="table table-bordered" >

        <thead>
          <tr class="lead" style="color: #696969">
            <th colspan="5">Itinerary and co-travellers</th>
          </tr>
        </thead>
        
        <tbody>
          <tr>
            <td class=" text-bottom"> </td>
            <td style="color: #696969"><i class="fa fa-user " style="font-size: 36px"></i></td>
            <td style="color: #696969"><i class="fa fa-automobile " style="font-size: 36px"></i></td>
            <td style="color: #696969"><i class="fa fa-automobile " style="font-size: 36px"></i></td>
            <td style="color: #696969"><i class="fa fa-automobile " style="font-size: 36px"></i></td>  
          </tr>
          <tr>
            <td style="color:#708090"><i class="fa fa-circle-o " style="font-size: 18px"></i> {{rides[2]}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td style="color:#708090"><i class="fa fa-long-arrow-down" style="font-size:60px"></i></td>
            <td> {{user[2]}}</td>
            {% if len_users_whose_ride_accepted ==0  %}
            <td></td>
            <td></td>
            <td></td>
            {% endif %}

            {% if len_users_whose_ride_accepted != 0 %}
              
            {% for i in range( 3 ) %}
            {% if i < len_users_whose_ride_accepted %}
              <td>{{users_whose_ride_accepted[i] }}</td>
            {% else %}
              <td></td>
            {% endif %}
            {% endfor %}
 
  
            {% endif %}
            
          </tr>
          <tr>
            <td style="color:#708090"><i class="fa fa-circle-o " style="font-size: 18px"></i> {{rides[3]}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>


    </div>

  <div style="color: #696969">
    <div class="col-md-4 ">
      
      <div>
        <table class="table-bordered">
          <tr>
            <td class="col-md-6 text-center " >
              <p class="lead" style="font-size: 36px"><i class="fa fa-rupee "></i> {{rides[10]}}</p> 
              <p class="small">per Co-traveller</p>
            </td>

            <td class="col-md-6 text-center" >
                <p  class="lead" style="font-size: 36px"><i class="fa fa-group "></i> {{rides[14]}} </p>
                <p class="small">Available Seats</p>
            </td>

          </tr>
          <tr>
            <td colspan="2" class="col-md-6 text-center">
              <p class="small"><br>Co-Travellers on this ride</p>
              <p> 
                <i class="material-icons">add_a_photo</i>
                <i class="material-icons">add_a_photo</i>
                <i class="material-icons">add_a_photo</i>
              </p>
            </td>
          </tr>

          {% if myUserName != rides[1] %}
          <tr  class="text-center" id=request-seat>
            <td colspan="2">  
              <br>


              {% if flag == 0 %}
                 <a  class="btn btn-default btn-danger " href="/rides_request/{{rides[0]}}/{{myUserName}}" >
               Request To Book </a>
              {% endif %}

              {% if flag == 1 %}
                 <a  class="btn btn-default btn-warning" > Already Requested</a>
              {% endif %}

              {% if flag == 2 %}
                 <a  class="btn btn-default btn-success" > Accepted</a>
              {% endif %}              
              <br>
              <br>
            </td>
          </tr>
          {% endif %}

      </table>
    
      </div>
    </div>
  </div>


  <div>
    <div class="col-md-4 ">
      
          <div>
            <br>
            <hr>
                <span class="lead" > Car Owner</span> 
          </div>
          <hr>
          <div>
            
              <div class="col-md-4">
                    <i class="material-icons" style="font-size:48px">add_a_photo</i>
              </div>

              <div class="col-md-8 text-left">
                <p>
                    Hello <strong ><em id="username" class="text-uppercase">{{name}}</em></strong>
                </p>
              </div>

          </div>

            <div class=" text-left">
              <p> 
                <br>
                <hr>
                <span class="verify-fail glyphicon glyphicon-alert"></span>
                <a href="#" class="verify" id="verify-phone"> Verify your phone number</a>
              </p>
              <p>
                <span class="verify-fail glyphicon glyphicon-alert"></span>
                <a href="#" class="verify" id="verify-phone"> Verify your email</a>
              </p>
              <p>
                <span class="verify-fail glyphicon glyphicon-alert"></span>
                <a href="#" class="verify" id="verify-phone"> Verify your id</a>
              </p>
              <hr>
            </div>
    
      </div>
      <br><br>
    </div>
  </div>


    <div class="container">
      <br><head></head>
      <div class="lead text-left" style="font-size: 30px">
          <p>
            <i class="material-icons" style="font-size:36px;">people_outline</i>
            <strong>Requests</strong>
          </p>
      </div>
        <table class="col-md-8 table-bordered">     
        {% if myUserName == rides[1] %}
        {% for i in range(users_length) %}
          <tr>
            <td class="lead text-center"><i class="fa fa-user " style="font-size: 24px"></i> {{ user_who_requested[i][2]}}</td>
            <td class="text-center">
              <br>
              <a  class="btn btn-default btn-info " href="/rides_accept/{{rides[0]}}/{{user_who_requested[i][0]}}" >
              <span class="glyphicon glyphicon-ok-sign"></span> Accept </a>
              <a  class="btn btn-danger btn-info " href="/rides_reject/{{rides[0]}}/{{user_who_requested[i][0]}}" >
              <span class="glyphicon glyphicon-remove-sign"></span> Reject </a>
              <br><br>
            </td>
          </tr>

        
        {% endfor %}
        {% endif %}

        </table>
    </div>



{% endblock %}

