{% extends 'layout.html' %}

{% block body %}
  <hr>
  <div class="container ">

    <div class = "col-md-8 " >
      
      <div class=" col-md-12 well well-lg " style=" background-color:white ">
        <div >
          
          <div class="col-md-3" style="color:#708090">
            <span>Departure Point</span>
          </div>
          
          <div class="col-md-9 text-left">  
            <p><i class="fa fa-circle-o " style="font-size: 18px"></i> {{rides[2]}}</p>
          </div>
        
        </div>

        <div >
        
          <div class="col-md-3" style="color:#708090">
            <span>Drop Off Point</span>
          </div>
          
          <div class="col-md-9 text-left">  
            <p><span><i class="fa fa-circle-o " style="font-size: 18px"></i></span> {{rides[3]}}</p>
          </div>

        </div>

        <div >
        
          <div class="col-md-3" style="color:#708090">
            <span>Departure date</span>
          </div>
          
          <div class="col-md-9 text-left">  
            <p><i class="fa fa-calendar " style="font-size: 18px"></i> {{rides[8]}} - {{rides[9]}} <br><br></p>
          </div>

        </div>

        <div class="col-md-10 " style=" background-color:#F0F8FF ">
           <div class="col-md-1 " style="color: #696969"><i class="fa fa-user " style="font-size: 44px"></i>
           </div>
           
           <div class="col-md-10">
            <span class="lead" style="color: #696969">{{user[2]}}</span>
            <p  id="details" style="color:#708090">The car owner hasn't mentioned any details</p>
           </div>
   
        <div class="col-md-10 ">
          <div class="col-md-1"></div>
          <div class="col-md-8 ">
              <button  class="btn-info"><i class="fa fa-address-card" ></i> Contact Owner</button>
              <br><br>
          </div>
        </div>

        </div>
      </div>

          <table class="table table-bordered" >

        <thead>
          <tr class="lead" style="color: #696969">
            <th colspan="5">Itinerary and co-travellers</th>
          </tr>
        </thead>
        
        <tbody>
          <tr>
            <td class=" text-bottom"> </td>
            <td style="color: #696969"><i class="fa fa-user " style="font-size: 36px"></i></td>
            <td style="color: #696969"><i class="fa fa-automobile " style="font-size: 36px"></i></td>
            <td style="color: #696969"><i class="fa fa-automobile " style="font-size: 36px"></i></td>
            <td style="color: #696969"><i class="fa fa-automobile " style="font-size: 36px"></i></td>  
          </tr>
          <tr>
            <td style="color:#708090"><i class="fa fa-circle-o " style="font-size: 18px"></i> {{rides[2]}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td style="color:#708090"><i class="fa fa-long-arrow-down" style="font-size:60px"></i></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td style="color:#708090"><i class="fa fa-circle-o " style="font-size: 18px"></i> {{rides[3]}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>


    </div>

  <div style="color: #696969">
    <div class="col-md-4 ">
      
      <div>
        <table class="table-bordered">
          <tr>
            <td class="col-md-6 text-center " >
              <p class="lead" style="font-size: 36px"><i class="fa fa-rupee "></i> {{rides[10]}}</p> 
              <p class="small">per Co-traveller</p>
            </td>

            <td class="col-md-6 text-center" >
                <p  class="lead" style="font-size: 36px"><i class="fa fa-group "></i> 3</p>
                <p class="small">Available Seats</p>
            </td>

          </tr>
          <tr>
            <td colspan="2" class="col-md-6 text-center">
              <p class="small"><br>Co-Travellers on this ride</p>
              <p> 
                <i class="material-icons">add_a_photo</i>
                <i class="material-icons">add_a_photo</i>
                <i class="material-icons">add_a_photo</i>
              </p>
            </td>
          </tr>
      </table>
    
      </div>
    </div>
  </div>


  <div>
    <div class="col-md-4 ">
      
          <div>
            <br>
            <hr>
                <span class="lead" > Car Owner</span> 
          </div>
          <hr>
          <div>
            
              <div class="col-md-4">
                <img src="/avatar.jpg" class="img-circle" height="65" width="65" alt="Avatar">
              </div>

              <div class="col-md-8 text-left">
                <p>
                    Hello <strong><em id="username">{{name}}</em></strong>
                </p>
              </div>

          </div>

            <div class=" text-left">
              <p> 
                <br>
                <hr>
                <span class="verify-fail glyphicon glyphicon-alert"></span>
                <a href="#" class="verify" id="verify-phone"> Verify your phone number</a>
              </p>
              <p>
                <span class="verify-fail glyphicon glyphicon-alert"></span>
                <a href="#" class="verify" id="verify-phone"> Verify your email</a>
              </p>
              <p>
                <span class="verify-fail glyphicon glyphicon-alert"></span>
                <a href="#" class="verify" id="verify-phone"> Verify your id</a>
              </p>
              <hr>
            </div>
    
      </div>
    </div>
  </div>


</div>

{% endblock %}

