{% extends 'layout.html' %}

{% block body %}
  <hr>
  <table class="table table-striped">
    <tr>
      <th>Departure Point</th>
      <th>Drop-off point</th>
      <th>Departure Time</th>
      <th>Departure date</th>
      <th>Car Owner</th>
      <th>Price</th>
    </tr>
    <tr>
        <td>{{rides[2]}}</td>
        <td>{{rides[3]}}</td>
        <td>{{rides[9]}}</td>
        <td>{{rides[8]}}</td>
        <td>{{user[2]}}</td>
        <td>{{rides[10]}}</td>
      </tr>
  </table>
{% endblock %}

