  .verify{
    color: #00BFFF;
  }
  .verify-fail{
    background-color: white;
    color: red;
  }

  #username{
    color: green;
  }

/*  .contact-owner{
    background-color: blue;
    font-size: 20px;
  }
*/

